.app {
  height: 100vh;
  text-align: center;
}

.header {
  display: flex;
  padding: 1rem;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
